<!--right navigation block for blog pages-->
<div class="col-xs-8 col-sm-3 blog-sidebar text-left sidebar-offcanvas" id="sidebar">
    <div class="input-group">
        <input type="search" class="form-control" placeholder="SEARCH...">
        <a class="btn input-group-btn">
            <i class="fa fa-search" aria-hidden="true"></i>
        </a>

    </div><!-- /input-group -->
    <div class="sidebar-module">
        <p class="sidebar-heading">CATEGORIES</p>
        <ul class="list-group">
            <li class="list-group-item">WEB DESIGN</li>
            <li class="list-group-item">GRAPHIC DESIGN</li>
            <li class="list-group-item">PHOTOGRAPHY</li>
            <li class="list-group-item">DEVELOPING</li>
            <li class="list-group-item">CONSULTING</li>
        </ul>
    </div>
    <p class="sidebar-heading">POPULAR POSTS</p>
    <div class="popular-post">
        <p>The Most Readed Blog Post Here</p>
        <ul class="list-inline">
            <li>
                <a href="#">
                    <span>
                       <i class="fa fa-eye" aria-hidden="true"></i>
                                    1280
                     </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                       <i class="fa fa-user" aria-hidden="true"></i>
                                    Mike
                     </span>
                </a>
            </li>

        </ul>
    </div>
    <div class="popular-post">
        <p>Second Most Popular Post</p>
        <ul class="list-inline">
            <li>
                <a href="#">
                   <span>
                      <i class="fa fa-eye" aria-hidden="true"></i>
                                    1011
                   </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                       <i class="fa fa-user" aria-hidden="true"></i>
                                    Elly
                    </span>
                </a>
            </li>

        </ul>
    </div>
    <div class="popular-post">
        <p>The Third Hot Post</p>
        <ul class="list-inline">
            <li>
                <a href="#">
                   <span>
                      <i class="fa fa-eye" aria-hidden="true"></i>
                                    956
                   </span>
                </a>
            </li>
            <li>
                <a href="#">
                  <span>
                     <i class="fa fa-user" aria-hidden="true"></i>
                                    Val
                  </span>
                </a>
            </li>

        </ul>
    </div>
    <p class="sidebar-heading flickr">FLICKR IMAGES</p>
    <div class="row">
        <div class="col-xs-6 col-md-4 top-margin">
            <img src="http://placehold.it/70x70" alt="flickr image">
        </div>
        <div class="col-xs-6 col-md-4 top-margin">
            <img src="http://placehold.it/70x70" alt="flickr image">
        </div>
        <div class="col-xs-6 col-md-4 top-margin">
            <img src="http://placehold.it/70x70" alt="flickr image">
        </div>
        <div class="col-xs-6 col-md-4 top-margin">
            <img src="http://placehold.it/70x70" alt="flickr image">
        </div>
        <div class="col-xs-6 col-md-4 top-margin">
            <img src="http://placehold.it/70x70" alt="flickr image">
        </div>
        <div class="col-xs-6 col-md-4 top-margin">
            <img src="http://placehold.it/70x70" alt="flickr image">
        </div>
    </div><!--row-->
    <p class="sidebar-heading text-widget">TEXT WIDGET</p>
    <div class="sidebar-widget">
        <p>Donec quis vestibulum nisl, a bibendum velit. Proin cursus mauris non
            malesuada euismod. In vitae accumsan neque.</p>
    </div>
    <p class="sidebar-heading popular-tags">POPULAR TAGS</p>
    <span class="label">Design</span>
    <span class="label">Branding</span>
    <span class="label">Art</span>
    <span class="label">Developing</span>
    <span class="label">CSS</span>
    <span class="label">HTML</span>
    <span class="label">Wordpress</span>
    <span class="label">Photography</span>
    <p class="sidebar-heading newsletter">SUBSCRIBE FOR NEWSLETTER</p>
    <div class="newsletter-block">
        <p>Donec quis vestibulum nisl, a bibendum velit.</p>
        <div class="input-group-lg">
            <label class="sr-only" for="usr">Email:</label>
            <input type="text" class="form-control" id="usr" placeholder="YOUR EMAIL ADDRSS" required>
        </div>
        <button class="btn" type="submit">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            SUBSCRIBE</button>
    </div>
    <p class="sidebar-heading">POSTS BY DATE</p>
    <div class="sidebar-widget" id="calendar_table">
    </div>

</div><!--blog-sidebar-->