</header>
</div>
<!--Main title section-->


<div class="blog-header text-center">
    <h2>OUR BLOG</h2>
    <p>Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
</div>

<div class="container text-center">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9 blog-main">

            <span class="visible-xs">Get Sidebar!</span>
            <a href="#" class="btn visible-xs arrow-btn" data-toggle="offcanvas">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>



            <!--Standart blog post-->
            <section class="standart standart-list text-left">
                <img class="img-responsive" src="http://placehold.it/770x400" alt="blog post">
                <div class="container">
                    <div class="row set-down">
                        <div class="blog-left col-xs-2 text-center">
                            <p><i class="fa fa-file-text-o" aria-hidden="true"></i></p>
                            <p>31</p>
                            <p>MAR</p>
                        </div>
                        <div class="blog-standart col-xs-7">

                            <h3>Standart Blog Post With Featured Image</h3>
                            <ul class="list-inline blog-after">
                                <li>
                                    <a href="#">
                                    <span>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        Mike
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                                            Web design
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                            0 comments
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <p>Donec quis vestibulum nisl, a bibendum velit. Proin cursus mauris non malesuada
                                euismod. In vitae accumsan neque. Phasellus blandit arcu id ante feugiat</p>
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="#" class="btn"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <button type="button" class="btn btn-default"></button>
                                <button type="button" class="btn disabled btn-default text-center">105</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="#" class="btn"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <button type="button" class="btn btn-default"></button>
                                <button type="button" class="btn disabled btn-default text-center">98</button>
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <a href="#" class="btn"><i class="fa fa-google-plus"></i></a>
                                <button type="button" class="btn btn-default"></button>
                                <button type="button" class="btn disabled btn-default text-center">56</button>
                            </div>
                            <p class="blog-letter">Pellentesque rhoncus est tincidunt, facilisis augue a, dictum metus. Aenean ut enim ut est lacinia laoreet id sed purus.
                                Phasellus ut pharetra felis, sed accumsan leo. In at neque posuere tellus et, hendrerit eros. Maecenas ac dictum est, et egestas mi.
                                Suspendisse massa massa, auctor id fringilla in, laoreet nec mauris. </p>
                            <p> Fusce non malesuada urna. Suspendisse ac erat ut orci faucibus porta. Phasellus in libero id mi condimentum sollicitudin
                                nec a ante. Ut dignissim iaculis sem sit amet vulputate. Quisque sed lorem odio. Vestibulum aliquet, ante ac
                                tempor congue, libero enim vehicula dui, a viverra ligula nibh ut mi.</p>
                            <p> Donec porttitor velit purus, eget blandit sem posuere vitae. Vestibulum lobortis non enim vitae porttitor. Nulla eros tortor,
                                auctor ac eleifend tristique, tincidunt eu ligula. Vestibulum faucibus magna non dui tristique, vulputate vulputate neque
                                dignissim. Donec euismod sem a consectetur tempus.</p>

                            <div class="quote-inner">
                                <blockquote class="blockquote">
                                    <p class="quote-content">Some great quote that you love and want to share as a single post.</p>
                                    <p>Quote Author</p>
                                </blockquote>
                            </div>
                            <p>Integer rutrum, turpis ut hendrerit semper, sapien quam imperdiet felis, id lacinia nunc ipsum sed neque. Pellentesque a
                                rhoncus massa. Mauris blandit lectus risus, non facilisis neque laoreet in. Sed vel enim rutrum, feugiat nisl vel, hendrerit
                                justo. Sed quis turpis id eros malesuada sollicitudin a vitae lorem. Donec tincidunt at quam nec ultrices.</p>
                            <ol>
                                <li> Curabitur fermentum et sem et imperdiet. Etiam in cursus risus, vitae tempus magna.</li>
                                <li> Ut sem orci, facilisis sit amet egestas in, elementum a orci. Vestibulum a convallis metus.</li>
                                <li> Fusce purus elit, euismod in dictum at, tincidunt rutrum eros.</li>
                                <li> Interdum et malesuada fames ac ante ipsum primis in faucibus.</li>
                                <li>Ut vitae ante at nunc laoreet gravida sit amet congue odio.</li>
                            </ol>
                            <p> Phasellus luctus hendrerit dolor, non volutpat mauris tempor sed. Ut vitae posuere velit.
                                Sed a sodales sapien. Curabitur at neque congue nibh ornare elementum. Phasellus gravida semper rhoncus.
                                Nam placerat pulvinar tristique. Quisque et laoreet lacus.</p>
                            <p>Cras porta sapien vel orci sagittis egestas. Sed sit amet molestie tellus. Integer dictum ultrices dolor, at accumsan eros mollis
                                id. Vivamus mollis purus vehicula eros eleifend ornare. Quisque dapibus dui sed est pretium, ut varius massa sagittis.
                                Cras tellus erat, placerat at blandit vel, aliquam id orci.</p>
                            <ul class="checked">
                                <li> Curabitur fermentum et sem et imperdiet. Etiam in cursus risus, vitae tempus magna.	</li>
                                <li> Ut sem orci, facilisis sit amet egestas in, elementum a orci.</li>
                                <li> Fusce purus elit, euismod in dictum at, tincidunt rutrum eros.</li>
                                <li> Interdum et malesuada fames ac ante ipsum primis in faucibus.</li>
                                <li> Ut vitae ante at nunc laoreet gravida sit amet congue odio.</li>
                            </ul>
                            <p>Integer volutpat nibh at velit porttitor, eget viverra dui elementum. Nam accumsan diam felis, non malesuada justo scelerisque
                                a. Nulla tristique mi nec elit iaculis faucibus. Nunc vel justo ante. Integer lorem velit, egestas nec pharetra auctor,
                                euismod sed augue. Integer porttitor eleifend bibendum. Proin tortor nunc, venenatis ut lobortis eu, aliquet non arcu.</p>
                            <p>Phasellus luctus hendrerit dolor, non volutpat mauris tempor sed. Ut vitae posuere velit. Sed a sodales sapien. Curabitur
                                at neque congue nibh ornare elementum. Phasellus gravida semper rhoncus. Nam placerat pulvinar tristique.
                                Quisque et laoreet lacus. Cras porta sapien vel orci sagittis egestas. Sed sit amet molestie tellus.</p>



                        </div><!--col-xs-7-->


                    </div><!--row-->


                </div><!--container-->
                <div class="blog-tags">
                    <span><i class="fa fa-tags" aria-hidden="true"></i></span>
                    <span class="label"><a href="#">Design</a></span>
                    <span class="label"><a href="#">Branding</a></span>
                    <span class="label"><a href="#">Art</a></span>
                </div>
            </section>
            <!--section with author description-->
            <section class="about-didi text-left">
                <div class="quote-inner">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="" src="http://placehold.it/140x140" alt="blog post">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">ABOUT DIDI</h4>
                            <p>Sed sit amet molestie tellus. Integer dictum ultrices dolor, at accumsan eros mollis id.
                                    Vivamus mollis purus vehicula eros eleifend ornare. Quisque dapibus dui sed est pretium, ut varius massa sagittis. </p>
                            <p>
                                <span>
                                    <a href="">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>

                                </span>
                                <span>
                                    <a href="">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>

                                </span>
                                <span>
                                    <a href="">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </a>

                                </span>
                                <span>
                                    <a href="">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>

                                </span>
                                <span>
                                    <a href="">
                                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                    </a>

                                </span>
                                <span>
                                    <a href="#">ALL FROM DIDI</a>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </span>
                            </p>
                        </div>
                    </div><!--media-->
                </div>

            </section>
            <!--section with related posts-->
            <section class="related text-left">
                <p class="sidebar-heading heading-post">RELATED POSTS</p>
                <div class="row">
                    <div class="col-xs-5 thumbnail">

                            <img class="img-responsive" src="http://placehold.it/310x162" alt="blog post">
                            <div class="caption">
                                <h3>Some Similar Post</h3>
                                <p>Donec quis vestibulum nisl, a bibendum velit. Proin cursus mauris non malesuada euismod. In vitae accumsan neque</p>
                                <p>
                                    <a href="#" class="btn related-btn" role="button">READ MORE</a>

                                </p>
                            </div>

                    </div>
                    <div class="col-xs-5 thumbnail">

                            <img class="img-responsive" src="http://placehold.it/310x162" alt="blog post">
                            <div class="caption">
                                <h3>Another Content Close To This Article</h3>
                                <p>Phasellus gravida semper rhoncus. Nam placerat pulvinar tristique. Quisque et laoreet lacus</p>
                                <p>
                                    <a href="#" class="btn related-btn" role="button">READ MORE</a>

                                </p>
                            </div>

                    </div>

                </div>
            </section>
            <!--sections with comment blocks-->
            <section class="comments text-left">
                <p class="sidebar-heading heading-post">2 COMMENTS</p>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="" src="http://placehold.it/55x55" alt="blog post">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><span>MIKE</span><span>On April 14, 2014, 18:01</span></h4>
                        <p>Cool! </p>
                        <p>
                            <a href="#" class="btn comments-btn">REPLY</a>
                        </p>
                    </div>
                </div><!--media-->
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="" src="http://placehold.it/55x55" alt="blog post">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><span>DIDI</span><span>On April 14, 2014, 17:59 @NELLY ATANASOFF</span></h4>
                        <p>Fusce id mauris ut mauris dictum congue vel nec diam. Sed vel risus velit. Nulla magna risus, tempus sit amet metus at,
                            malesuada bibendum urna. Nam vitae leo auctor, auctor odio nec, auctor metus. Aenean turpis tellus, vehicula
                            ut odio eu, blandit congue enim.  </p>
                        <p>
                            <a href="#" class="btn comments-btn">REPLY</a>
                        </p>
                    </div>
                </div><!--media-->
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="" src="http://placehold.it/55x55" alt="blog post">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><span>NELLY ATANASOFF </span><span>On April 14, 2014, 17:53</span></h4>
                        <p>Donec quis vestibulum nisl, a bibendum velit. Proin cursus mauris non malesuada euismod. In vitae accumsan neque.  </p>
                        <p>
                            <a href="#" class="btn comments-btn">REPLY</a>
                        </p>
                    </div>
                </div><!--media-->
            </section>
            <!--leave your reply here-->
            <section class="reply text-left">
                <p class="sidebar-heading heading-post">LEAVE A REPLY</p>
                <p>Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
                <form role="form" class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label class="sr-only" for="inputName">Password</label>
                            <input type="password" class="form-control" id="inputName" placeholder="YOUR NAME" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="sr-only" for="inputEmail">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="YOUR EMAIL" required>
                        </div>
                    </div><!--row-->


                    <div class="form-group">
                        <label class="sr-only" for="inputText">Message</label>
                        <textarea class="form-control" rows="7" id="inputText" placeholder="THE MESSAGE" required></textarea>
                    </div>
                    <button type="submit" class="btn">LEAVE THE REPLY</button>
                </form>
            </section>

        </div><!--blog-main-->
        //= _blog-sidebar.html


    </div><!-- /.row -->

</div><!--container-->