</header>
</div>
<!--Main title section-->


<div class="blog-list blog-header text-center ">
    <h2>OUR BLOG</h2>
    <p>Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>
</div>

<div class="container text-center">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9 blog-main">

            <!--<span class="visible-xs">Get Sidebar!</span>-->
            <!--<label class="switch pull-right">-->
                <!--<input type="checkbox" class="tgl-btn" data-toggle="offcanvas">-->
                <!--<div class="slider round visible-xs pull-left"></div>-->
            <!--</label>-->
            <a href="#" class="btn visible-xs arrow-btn" data-toggle="offcanvas">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>



            <!--Standart blog post-->
            <section class="standart text-left">
                <img class="img-responsive" src="http://placehold.it/770x400" alt="blog post">
                <div class="container">
                    <div class="row set-down">
                        <div class="blog-left col-xs-2 text-center">
                            <p><i class="fa fa-file-text-o" aria-hidden="true"></i></p>
                            <p>31</p>
                            <p>MAR</p>
                        </div>
                        <div class="col-xs-7 blog-right">
                            <h3>Standart Blog Post With Featured Image</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="#">
                                    <span>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        Mike
                                    </span>
                                </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                                            Web design
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                            0 comments
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <p>Donec quis vestibulum nisl, a bibendum velit. Proin cursus mauris non malesuada
                                euismod. In vitae accumsan neque. Phasellus blandit arcu id ante feugiat</p>
                            <a href="../blog-post.html" class="btn">READ MORE</a>
                        </div>
                    </div><!--row-->
                </div><!--container-->
            </section>
            <!--Image gallery blog post-->
            <section class="gallery text-left">
                <div id="carousel-blog" class="carousel slide" data-interval="false" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-blog" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-blog" data-slide-to="1"></li>
                        <li data-target="#carousel-blog" data-slide-to="2"></li>
                        <li data-target="#carousel-blog" data-slide-to="3"></li>
                        <li data-target="#carousel-blog" data-slide-to="4"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img class="img-responsive" src="http://placehold.it/770x400" alt="gallery image">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="http://placehold.it/770x400" alt="gallery image">

                        </div>
                        <div class="item">
                            <img class="img-responsive" src="http://placehold.it/770x400" alt="gallery image">

                        </div>
                        <div class="item">
                            <img class="img-responsive" src="http://placehold.it/770x400" alt="gallery image">

                        </div>
                        <div class="item">
                            <img class="img-responsive" src="http://placehold.it/770x400" alt="gallery image">

                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-blog" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-blog" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>


                    </div><!--carousel inner-->
                </div><!--carousel-blog-->
                <div class="container">
                    <div class="row set-down">
                        <div class="blog-left col-xs-2 text-center">
                            <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
                            <p>31</p>
                            <p>MAR</p>
                        </div>
                        <div class="blog-right col-xs-7">
                            <h3>Blog Post With Image Gallery</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="#">
                                    <span>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        Mike
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                                            Web design
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                            0 comments
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <p>Donec quis vestibulum nisl, a bibendum velit. Proin cursus mauris non malesuada
                                euismod. In vitae accumsan neque. Phasellus blandit arcu id ante feugiat</p>
                            <a href="#" class="btn">READ MORE</a>
                        </div>
                    </div><!--row-->
                </div><!--container-->
            </section>
            <!--Blog post with music content-->
            <section class="music text-left">
                <audio controls preload="none" src="https://ia802508.us.archive.org/5/items/testmp3testfile/mpthreetest.mp3" type="audio/mpeg">
                </audio>


                <div class="container">


                    <div class="row set-down">
                        <div class="blog-left col-xs-2 text-center">
                            <p><i class="fa fa-music" aria-hidden="true"></i></p>
                            <p>31</p>
                            <p>MAR</p>
                        </div>
                        <div class="col-xs-7 blog-right">
                            <h3>Music Post</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="#">
                                    <span>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        Mike
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                                            Web design
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                            0 comments
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <p>Donec quis vestibulum nisl, a bibendum velit. Proin cursus mauris non malesuada
                                euismod. In vitae accumsan neque. Phasellus blandit arcu id ante feugiat</p>
                        </div>
                    </div><!--row-->
                </div><!--container-->
            </section>
            <!--Blog post with video content-->
            <section class="video-block text-left">
                <div class="leanback-player-video responsive-video">
                    <!-- HTML5 <video> element -->
                    <video  height="400" preload="none" controls poster="http://placehold.it/770x400 " >
                        <!-- HTML5 <video> sources -->
                        <source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4"><!-- Safari / iOS, IE9 -->
                        <source src="http://clips.vorwaerts-gmbh.de/VfE.webm" type="video/webm"><!-- Chrome10+, Ffx4+, Opera10.6+ -->
                        <source src="http://clips.vorwaerts-gmbh.de/VfE.ogv" type="video/ogg"><!-- Firefox3.6+ / Opera 10.5+ -->

                    </video>
                </div>
                <div class="container">
                    <div class="row set-down">
                        <div class="blog-left col-xs-2 text-center">
                            <p><i class="fa fa-video-camera" aria-hidden="true"></i></p>
                            <p>31</p>
                            <p>MAR</p>
                        </div>
                        <div class="col-xs-7 blog-right">
                            <h3>Video Blog Post</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="#">
                                    <span>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        Mike
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                                            Web design
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                            0 comments
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <p>Donec quis vestibulum nisl, a bibendum velit. Proin cursus mauris non malesuada
                                euismod. In vitae accumsan neque. Phasellus blandit arcu id ante feugiat</p>
                            <a href="#" class="btn">READ MORE</a>
                        </div>
                    </div><!--row-->
                </div><!--container-->
            </section>
            <!--Blog post with quote-->
            <section class="quote text-left">
                <div class="container">
                    <div class="row set-down">
                        <div class="blog-left col-xs-2 text-center">
                            <p><i class="fa fa-quote-right" aria-hidden="true"></i></p>
                            <p>31</p>
                            <p>MAR</p>
                        </div>
                        <div class="col-xs-7 quote-inner">
                            <blockquote class="blockquote">
                                <p class="quote-content">Some great quote that you love and want to share as a single post.</p>
                                <p>Quote Author</p>
                            </blockquote>
                        </div>
                    </div><!--row-->
                </div><!--container-->
            </section>
            <!--Blog post with no image-->
            <section class="bare text-left">
                <div class="container">
                    <div class="row set-down">
                        <div class="blog-left col-xs-2 text-center">
                            <p><i class="fa fa-file-text-o" aria-hidden="true"></i></p>
                            <p>31</p>
                            <p>MAR</p>
                        </div>
                        <div class="col-xs-7 blog-right">
                            <h3>Standart Blog Post With No Featured Image</h3>
                            <ul class="list-inline">
                                <li>
                                    <a href="#">
                                    <span>
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        Mike
                                    </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                                            Web design
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-comment" aria-hidden="true"></i>
                                            0 comments
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <p>Donec quis vestibulum nisl, a bibendum velit. Proin cursus mauris non malesuada
                                euismod. In vitae accumsan neque. Phasellus blandit arcu id ante feugiat</p>
                            <a href="#" class="btn">READ MORE</a>
                        </div>
                    </div><!--row-->
                </div><!--container-->
            </section>


        </div><!--blog-main-->
        //= _blog-sidebar.html


    </div><!-- /.row -->



        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="disabled"><a href="#">1 of 95</a></li>

                <li>
                    <a href="#" aria-label="Next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>





</div><!--container-->
