<!--company's location-->

<section class="location background">

    <div class="container text-center">
        <div class="location__header">
            <h2>FIND US</h2>
            <p class="location-text">Duis vitae velit mollis, congue nisi dignissim,
                pellentesque lorem</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="location-block text-center">
                    <div class="media-left">
                        <div class="logo-img">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body text-left">
                        <p>PHONES</p>
                        <p>+359 2 88 55 999</p>
                        <p>+359 89 88 55 999</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="location-block text-center">
                    <div class="media-left">
                        <div class="logo-img">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body text-left">
                        <p>OFFICE ADDRESS</p>
                        <p>4 Byala Cherkva Str.</p>
                        <p>3rd Floor</p>
                        <p>Sofia, 1000,</p>
                        <p>Bulgaria</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="location-block text-center">
                    <div class="media-left">
                        <div class="logo-img">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="media-body text-left">
                        <p>EMAILS</p>
                        <p>office@trendy.com</p>
                        <p>sales@trendy.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--container-->
</section>

<!--footer with copyright and media links -->
<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright © 2014 Trendy - Designed by Stefan Parnarov</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline">
                    <li>
                        <a href="#" class=" media-button">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" media-button">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" media-button">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" media-button">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" media-button">
                            <i class="fa fa-pinterest" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" media-button">
                            <i class="fa fa-vk" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" media-button">
                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" media-button">
                            <i class="fa fa-flickr" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" media-button">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div><!--row-->
    </div><!--container-->
</footer>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/mediaelement-and-player.min.js"></script>
<script src="js/leanbackPlayer.js"></script>
<script src="js/leanbackPlayer.en.js"></script>
<script src="js/main.js"></script>

<script>
    $(document).ready(function($) {
        $('#leanback-video-id0_big_play_button').html = '<i class="fa fa-play" aria-hidden="true"></i>';
    });
</script>

</body>
</html>