
    <!--top section-->
        <section class="home" id="home">
            <div class="text-center home-title">
                <h1 class="home-title__headline">
                    <span>WE ARE</span> DESIGNING
                </h1>
                <p class="home-title__text">And We Are Doing It Well</p>




            </div>
            <div class="text-center" id="scroll">
                <a href="#about" class="btn home-button">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>

            </div>

        </section>

</header>
</div><!--background-->

<!--info about the company-->
<section class="about" id="about">
    <div class="container text-center">

        <h2>ABOUT US</h2>
        <p class="team__text">Duis vitae velit mollis, congue nisi dignissim, pellentesque lorem</p>

        <!--company's timeline-->
        <div class="timeline-block">
            <ul class="media-list timeline">
                <li>
                    <div class="timeline-badge"></div>
                    <div class="timeline-panel">
                        <div class="media-left">
                            <div class="logo-block">
                                    <span>
                                        <i class="fa fa-flag" aria-hidden="true"></i>
                                    </span>
                            </div>
                        </div>
                        <div class="media-body text-left">

                                <h3>THE BEGINNING</h3>
                                <p>Quisque ut convallis diam, id pulvinar leo.
                                    Integer consequat vulputate orci sit amet
                                    consequat</p>

                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge"></div>
                    <div class="timeline-panel">
                        <div class="media-left">
                            <div class="logo-block">
                                    <span>
                                        <i class="fa fa-trophy" aria-hidden="true"></i>
                                    </span>
                            </div>
                        </div>
                        <div class="media-body text-left">

                                <h3>THE FIRST AWARD</h3>
                                <p>Aliquam sollicitudin, neque sed facilisis bibendum,
                                    dolor sapien consectetur nunc, sed eleifend
                                    mauris</p>

                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge"></div>
                    <div class="timeline-panel">
                        <div class="media-left">
                            <div class="logo-block">
                                    <span>
                                        <i class="fa fa-building-o" aria-hidden="true"></i>
                                    </span>
                            </div>
                        </div>
                        <div class="media-body text-left">

                                <h3>WE HAVE A NEW OFFICE</h3>
                                <p>Curabitur quis pulvinar sapien, vitae vehicula
                                    orci. Curabitur scelerisque nulla ac augue
                                    lobortis</p>

                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <a href="#" class="btn btn-default load_button">LOAD MORE</a>
<!--info about employees-->
        <h2 class="team__header">AND THE TEAM</h2>
        <p class="team-text">Duis vitae velit mollis, congue nisi dignissim,
            pellentesque lorem</p>

        <div class="row">

            <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-2 text-left">
                <img class="thumbnail img-responsive" src="http://placehold.it/150x198" alt="team-members">
                <div class="team__name">
                    <span>MIKE</span>
                    <span>/ CFO</span>

                    <ul class="list-inline">
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-0 text-left">
                <img class="thumbnail img-responsive" src="http://placehold.it/150x198" alt="team-members">
                <div class="team__name">
                    <span>ELLY</span>
                    <span>/ CFO</span>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-0 text-left">
                <img class="thumbnail img-responsive" src="http://placehold.it/150x198" alt="team-members">
                <div class="team__name">
                    <span>VALL</span>
                    <span>/ CFO</span>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-0 text-left">
                <img class="thumbnail img-responsive" src="http://placehold.it/150x198" alt="team-members">
                <div class="team__name">
                    <span>DIDI</span>
                    <span>/ CFO</span>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class=" media-button">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>




        </div> <!--container-->


</section>

<!--company's works as a carousel-->
<section class="works" id="works">
    <div class="container text-center">
        <div class="works__header">
            <h2>WORKS</h2>
            <p class="works__text">Duis vitae velit mollis, congue nisi dignissim,
                pellentesque lorem</p>
        </div>

        <!--<div id="carousel-example-generic" class="carousel slide" data-interval="false" data-ride="carousel">-->
        <div class="swiper-container s1">


            <!-- Wrapper for slides -->
            <!--<div class="carousel-inner" role="listbox">-->
            <div class="swiper-wrapper">
                <!--<div class="item active">-->
                <div class="swiper-slide">

                        <div class="col-xs-12 text-center">
                            <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                            <div class="work-caption text-left">
                                <p>CLEMENTINE DE LA FERONNIERE</p>
                                <p>Print Design</p>
                            </div>
                        </div>
                    </div>
                <div class="swiper-slide">
                        <div class="col-xs-12 text-center">
                            <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                            <div class="work-caption text-left">
                                <p>FARMER’S MARKET KITCHEN</p>
                                <p>Web Design</p>
                            </div>
                        </div>
                </div>
                <div class="swiper-slide">
                        <div class="col-xs-12 text-center">
                            <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                            <div class="work-caption text-left">
                                <p>BEAUTIFUL GIRL</p>
                                <p>Photography</p>
                            </div>
                        </div>

                </div>
                <!--<div class="item">-->
                <div class="swiper-slide">

                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>CLEMENTINE DE LA FERONNIERE</p>
                            <p>Print Design</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>FARMER’S MARKET KITCHEN</p>
                            <p>Web Design</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>BEAUTIFUL GIRL</p>
                            <p>Photography</p>
                        </div>
                    </div>

                </div>
                <!--<div class="item">-->
                <div class="swiper-slide">

                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>CLEMENTINE DE LA FERONNIERE</p>
                            <p>Print Design</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>FARMER’S MARKET KITCHEN</p>
                            <p>Web Design</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>BEAUTIFUL GIRL</p>
                            <p>Photography</p>
                        </div>
                    </div>

                </div>
                <!--<div class="item">-->
                <div class="swiper-slide">

                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>CLEMENTINE DE LA FERONNIERE</p>
                            <p>Print Design</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>FARMER’S MARKET KITCHEN</p>
                            <p>Web Design</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>BEAUTIFUL GIRL</p>
                            <p>Photography</p>
                        </div>
                    </div>

                </div>
                <!--<div class="item">-->
                <div class="swiper-slide">

                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>CLEMENTINE DE LA FERONNIERE</p>
                            <p>Print Design</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>FARMER’S MARKET KITCHEN</p>
                            <p>Web Design</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="col-xs-12 text-center">
                        <img class="thumbnail img-responsive" src="http://placehold.it/340x248" alt="our works" data-toggle="modal" data-target=".portfolio-modal">
                        <div class="work-caption text-left">
                            <p>BEAUTIFUL GIRL</p>
                            <p>Photography</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Controls -->
            <div class="controls">
                <div class="swiper-button-prev left carousel-control">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </div>
                <div class="swiper-button-next right carousel-control">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </div>
            </div>
            <!-- Indicators -->
            <div class="swiper-pagination carousel-indicators"></div>
        </div><!--carousel-->
    </div><!--container-->
</section>
<!--company's services-->
<section class="services" id="services">
    <div class="container text-center">
        <div class="services__header">
            <h2>SERVICES</h2>
            <p class="services__text">Duis vitae velit mollis, congue nisi dignissim,
                pellentesque lorem</p>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="services-img">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                </div>
                <div class="services-block">
                    <p>DESIGN & ART DIRECTING</p>
                    <p>Nulla sit amet mi sed metus venenatis commodo vitae vel magna.
                        Aenean auctor, dolor dignissim congue</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="services-img">
                    <i class="fa fa-code" aria-hidden="true"></i>
                </div>
                <div class="services-block">
                    <p>DEVELOPING</p>
                    <p>Nulla sit amet mi sed metus venenatis commodo vitae vel magna.
                        Aenean auctor, dolor dignissim congue</p>
                </div>

            </div>
            <div class="col-md-4 text-center">
                <div class="services-img">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </div>
                <div class="services-block">
                    <p>CONSULTING</p>
                    <p>Nulla sit amet mi sed metus venenatis commodo vitae vel magna.
                        Aenean auctor, dolor dignissim congue</p>
                </div>

            </div>
        </div>


    </div><!--container-->


</section>
<!--Pricing models-->
<section class="pricing" id="pricing">
    <div class="container text-center">
        <div class="pricing__header">
            <h2>AND THE PRICES</h2>
            <p>Duis vitae velit mollis, congue nisi dignissim,
                pellentesque lorem</p>
        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
                <div class="well">
                    <p>STARTER</p>
                    <p>15€</p>
                    <p>monthly</p>
                    <p>Premium Quality</p>
                    <p>24/7 Support</p>
                    <p>Great Results</p>
                    <p>Happy Clients</p>
                    <p>High Performance</p>
                    <p>
                        <a class="btn" href="#">
                           GRAB NOW
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
                <div class="well">
                    <p>BUSINESS</p>
                    <p>30€</p>
                    <p>monthly</p>
                    <p>Premium Quality</p>
                    <p>24/7 Support</p>
                    <p>Great Results</p>
                    <p>Happy Clients</p>
                    <p>High Performance</p>
                    <p>
                        <a class="btn" href="#">
                            GRAB NOW
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
                <div class="well">
                    <p>PRO</p>
                    <p>50€</p>
                    <p>monthly</p>
                    <p>Premium Quality</p>
                    <p>24/7 Support</p>
                    <p>Great Results</p>
                    <p>Happy Clients</p>
                    <p>High Performance</p>
                    <p>
                        <a class="btn" href="#">
                            GRAB NOW
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3 col-md-offset-0">
                <div class="well">
                    <p>CORPORATE</p>
                    <p>75€</p>
                    <p>monthly</p>
                    <p>Premium Quality</p>
                    <p>24/7 Support</p>
                    <p>Great Results</p>
                    <p>Happy Clients</p>
                    <p>High Performance</p>
                    <p>
                        <a class="btn" href="#">
                            GRAB NOW
                        </a>
                    </p>
                </div>
            </div>
        </div><!--row-->



    </div><!--container-->
</section>
<!--Video section-->
<section class="video">
    <div class="video-block container text-center">
        <p>CATCHY SENTANCE</p>
        <p>WITH VIDEO BACKGROUND</p>
    </div><!--container-->
</section>
<!--Clients' info-->
<section class="clients" id="clients">
    <div class="container text-center">
        <div class="clients__header">
            <h2>TESTIMONIALS</h2>
            <p class="clients-text">Duis vitae velit mollis, congue nisi dignissim,
                pellentesque lorem</p>
        </div>

        <!--client's testimonials' carousel-->
        <div id="carousel-example-clients" class="carousel slide under-line" data-interval="false" data-ride="carousel">


            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <img class="thumbnail" src="http://placehold.it/150x150" alt="client photo">
                            <div class="">
                                <p class="clients-carousel">“Aenean convallis dolor at eros ornare, sit amet convallis justo consequat.
                                    Vestibulum vitae enim risus. Nullam dignissim feugiat lectus, ac tristique
                                    odio gravida pellentesque.”</p>
                                <div class="clients-carousel__text">
                                    <span>— NELLY ATANASOFF </span>
                                    <span>/ CFO at Atanasoff LLC</span>
                                </div>
                            </div>
                        </div>

                    </div><!--row-->
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <img class="thumbnail" src="http://placehold.it/150x150" alt="client photo">
                            <div class="">
                                <p class="clients-carousel">“Aenean convallis dolor at eros ornare, sit amet convallis justo consequat.
                                    Vestibulum vitae enim risus. Nullam dignissim feugiat lectus, ac tristique
                                    odio gravida pellentesque.”</p>
                                <div class="clients-carousel__text">
                                    <span>— NELLY ATANASOFF </span>
                                    <span>/ CFO at Atanasoff LLC</span>
                                </div>
                            </div>
                        </div>

                    </div><!--row-->
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <img class="thumbnail" src="http://placehold.it/150x150" alt="client photo">
                            <div class="">
                                <p class="clients-carousel">“Aenean convallis dolor at eros ornare, sit amet convallis justo consequat.
                                    Vestibulum vitae enim risus. Nullam dignissim feugiat lectus, ac tristique
                                    odio gravida pellentesque.”</p>
                                <div class="clients-carousel__text">
                                    <span>— NELLY ATANASOFF </span>
                                    <span>/ CFO at Atanasoff LLC</span>
                                </div>
                            </div>
                        </div>

                    </div><!--row-->
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <img class="thumbnail" src="http://placehold.it/150x150" alt="client photo">
                            <div class="">
                                <p class="clients-carousel">“Aenean convallis dolor at eros ornare, sit amet convallis justo consequat.
                                    Vestibulum vitae enim risus. Nullam dignissim feugiat lectus, ac tristique
                                    odio gravida pellentesque.”</p>
                                <div class="clients-carousel__text">
                                    <span>— NELLY ATANASOFF </span>
                                    <span>/ CFO at Atanasoff LLC</span>
                                </div>
                            </div>
                        </div>

                    </div><!--row-->
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <img class="thumbnail" src="http://placehold.it/150x150" alt="client photo">
                            <div class=" ">
                                <p class="clients-carousel">“Aenean convallis dolor at eros ornare, sit amet convallis justo consequat.
                                    Vestibulum vitae enim risus. Nullam dignissim feugiat lectus, ac tristique
                                    odio gravida pellentesque.”</p>
                                <div class="clients-carousel__text">
                                    <span>— NELLY ATANASOFF </span>
                                    <span>/ CFO at Atanasoff LLC</span>
                                </div>
                            </div>
                        </div>

                    </div><!--row-->
                </div>

                <!-- Indicators -->

                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-clients" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-clients" data-slide-to="1"></li>
                    <li data-target="#carousel-example-clients" data-slide-to="2"></li>
                    <li data-target="#carousel-example-clients" data-slide-to="3"></li>
                    <li data-target="#carousel-example-clients" data-slide-to="4"></li>
                </ol>

            </div><!--carousel-inner-->
        </div><!--carousel-->
        <div class="clients__header">
            <h2>CLIENTS</h2>
            <p class="clients-text">Duis vitae velit mollis, congue nisi dignissim,
                pellentesque lorem</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-2 clients__spacing">
                <img src="http://placehold.it/170x98" alt="clients pic">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 clients__spacing">
                <img src="http://placehold.it/170x98" alt="clients pic">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 clients__spacing">
                <img src="http://placehold.it/170x98" alt="clients pic">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 clients__spacing">
                <img src="http://placehold.it/170x98" alt="clients pic">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 clients__spacing">
                <img src="http://placehold.it/170x98" alt="clients pic">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 clients__spacing">
                <img src="http://placehold.it/170x98" alt="clients pic">
            </div>
        </div><!--row-->
    </div><!--container-->
</section>
<!--some company facts-->
<section class="facts background">
    <div class="container text-center">
        <h2>SOME COOL FACTS</h2>
        <p class="facts-text">Duis vitae velit mollis, congue nisi dignissim,
            pellentesque lorem</p>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="content text-center">
                    <div class="media-left">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="media-body text-left">
                        <p>120</p>
                        <p>HAPPY CLIENTS</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="content text-center">
                    <div class="media-left">
                        <i class="fa fa-files-o" aria-hidden="true"></i>
                    </div>
                    <div class="media-body text-left">
                        <p>551</p>
                        <p>AWESOME PROJECTS</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="content text-center">
                    <div class="media-left">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </div>
                    <div class="media-body text-left">
                        <p>95K</p>
                        <p>WORKING HOURS</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="content text-center">
                    <div class="media-left">
                        <i class="fa fa-coffee" aria-hidden="true"></i>
                    </div>
                    <div class="media-body text-left">
                        <p>1.2K</p>
                        <p>COFFEES DRINKED</p>
                    </div>
                </div>
            </div>
        </div><!--row-->
    </div><!--container-->
</section>
<!--contact info with feedback form-->
<section class="contact" id="contact">
    <div class="container text-center">
        <div class="contact__header">
            <h2>CONTACT US</h2>
            <p class="contact-text">Duis vitae velit mollis, congue nisi dignissim,
                pellentesque lorem</p>
        </div>
        <form role="form" class="form-horizontal">
        <div class="row">
            <div class="col-sm-4 form-group">
                <label class="sr-only" for="inputName">Password</label>
                <input type="password" class="form-control" id="inputName" placeholder="YOUR NAME" required>
            </div>
            <div class="col-sm-4 form-group">
                <label class="sr-only" for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="YOUR EMAIL" required>
            </div>
            <div class="col-sm-4 form-group">
                <label class="sr-only" for="inputPhone">Phone number</label>
                <input type="number" class="form-control" id="inputPhone" placeholder="YOUR PHONE" required>
            </div>
        </div><!--row-->


        <div class="form-group">
            <label class="sr-only" for="inputText">Message</label>
            <textarea class="form-control" rows="7" id="inputText" placeholder="THE MESSAGE" required></textarea>
        </div>
        <button type="submit" class="btn">SEND THE MESSAGE</button>
        </form>
    </div><!--container-->
</section>



